# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem will be summarized.

__Objectives__

- Popular languages used by data scientists 
- Libraires used by data scientists 
- Tools used by data scientists

In [ ]:
## Author
Rahimlen Dean

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. NunPy
    3. PyTorch
    4. Scrappy
    5. spaCy

# Data Science Tools
RStudio
TensorFlow
Apache Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [18]:
result = (3 * 4) + 5
print("Result:", result)

Result: 17

 This will convert 200 minutes to hours by diving by 60

In [21]:
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours